<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Карточка страницы</h3>
  </div>
  <div class="panel-body">
  
    <div class=" col-md-9 col-lg-9 "> 
      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>Имя страницы:</td>
            <td><%= @page.name %></td>
          </tr>
          <tr>
            <td>Название страницы:</td>
            <td><%= @page.title %></td>
          </tr>
          <tr>
            <td>Родительская страница</td>
            <td><%= @page.parent.title if @page.parent %></td>
          </tr>
          <tr>
            <td>Текст страницы</td>
            <td><%= markdown @page.body %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to 'Добавить подстраницу', "#{@page.path}/add" %> |
<%= link_to 'Редактировать', "#{@page.path}/edit" %> |
<%= link_to 'Назад', pages_path %>
